*.a
*.bak
*.core
*.def
*.dll
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lib
*.lo
*.log
*.mo
*.o
*.orig
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.dirstamp
.libs
.patch_number
.version
/ChangeLog
/INSTALL
/README
/aclocal.m4
/build-aux/*
!/build-aux/Makefile.am.common
!/build-aux/Makefile.am.coverage
!/build-aux/Makefile.am.env
!/build-aux/Makefile.am.gitlog
!/build-aux/Makefile.am.link
!/build-aux/Makefile.am.valgrind
!/build-aux/git-log-fix
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/manywarnings.m4
!/build-aux/perl.m4
!/build-aux/syntax-check
!/build-aux/syntax-check-copyright
!/build-aux/useless-if-before-free
!/build-aux/util.m4
!/build-aux/vc-list-files
!/build-aux/visibility.m4
!/build-aux/warnings.m4
/config.cache
/config.log
/config.status
/configure
/coverage
/coverage.info
/dist-deb
/lib/config.h
/lib/config.h.in
/lib/nclua.exp
/lib/nclua.pc
/lib/nclua.rc
/lib/ncluaconf.h
/lib/stamp-h1
/nclua-*.tar.gz
/nclua-*.tar.xz
/src/nclua
/src/nclua-gst
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/libnclua-echo
/tests/lua
/tests/suppfile
/tests/test-libnclua-close
/tests/test-libnclua-cycle
/tests/test-libnclua-debug-dump-surface
/tests/test-libnclua-debug-dump.png
/tests/test-libnclua-debug-get-surface
/tests/test-libnclua-open
/tests/test-libnclua-open-x
/tests/test-libnclua-paint
/tests/test-libnclua-resize
/tests/test-libncluaw-at-panic
/tests/test-libncluaw-at-panic-x
/tests/test-libncluaw-cycle
/tests/test-libncluaw-debug-dump-surface
/tests/test-libncluaw-debug-dump.png
/tests/test-libncluaw-debug-get-surface
/tests/test-libncluaw-event-clone
/tests/test-libncluaw-event-clone-x
/tests/test-libncluaw-event-free-x
/tests/test-libncluaw-open
Makefile
Makefile.in
autom4te.cache
libtool
vgcore.*
