#!/usr/bin/make -f

# export LDFLAGS=-Wl,--no-as-needed

override_dh_auto_configure:
	dh_auto_configure -- --disable-valgrind-tests --libdir=/usr/lib

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/nclua prefix=/usr install
	sed -i "/dependency_libs/ s/'.*'/''/" "$(CURDIR)/debian/nclua/usr/lib/libnclua.la"
	sed -i "/dependency_libs/ s/'.*'/''/" "$(CURDIR)/debian/nclua/usr/lib/lua/5.2/nclua/event/stopwatch.la"
	sed -i "/dependency_libs/ s/'.*'/''/" "$(CURDIR)/debian/nclua/usr/lib/lua/5.2/nclua/event/socket.la"
	sed -i "/dependency_libs/ s/'.*'/''/" "$(CURDIR)/debian/nclua/usr/lib/lua/5.2/nclua/canvas.la"

%:
	dh $@
